.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
}

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  min-width: 420px;
  /*max-width: 2048px;*/
}

a {
  text-decoration: none;
}

.md-toolbar-tools .md-button {
  margin-left: 5px;
}

.footer-container {
  font-style: italic;
  color: #333;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0 10px;
}

.md-fab.md-button>div.fa {
  margin-top: 7px;
}

.upper-toolbar a.fa {
  color: white;
}

.fixed-toolbar {
  min-height:24px;
  background-color: rgba(32,42,92,.8);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  margin: 0;
}

.upper-toolbar .md-button {
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  margin: 0 10px 0 0;
  left: 10px;
}

.upper-toolbar a.md-button:not([disabled]):hover,
.upper-toolbar .md-button:not([disabled]):hover {
  color: #ff7e00;
}

.md-toolbar-tools {
  background-color: rgba(32,42,92,1);
  color: #FFF;
  text-shadow: 0 2px 3px rgba(0,0,0,.27);
  border-top: 10px solid white;
  max-height: 75px;
  height: 75px;
}

.content-container {
  background: #FFF;
  overflow-y: visible;
  padding: 10px;
}

.footer-container {
  background: rgba(255,255,255,.8);
}

.main-view {
  padding: 20px 0;
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}
