<div ng-controller="ViewAboutCtrl" layout="row" layout-sm="column">


        <md-card class="" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>
                        <span>Why?</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-card-content>
                <p>
                I created this site to explore technologies of interest to me. I have developed web applications for the last 8 years, utilizing
                a diverse set of frameworks, including ADF Faces, Drupal, and Sharepoint. I also worked on the front-end of Oracle ADF, where I learned
                to love CSS and hate IE-specific javascript bugs.
                </p>
                <p>
                    I think the traditional resume format does not convey the important information quickly enough, it's stale, ripe for replacement. As both a consumer and producer
                    of resumes, I feel the pain at both ends of this out-dated business concept. Personally, I have stuck to the one-page rule, for better or worse
                    I feel like it reduces a lot of the fluff that most resumes have. The crux of this philosophy is that my textual resume may seem small.
                </p>
                <p>
                    Rather than choose one of the obvious options, I thought about the consumers of my resume. It includes a varied list of personas, all with
                    different backgrounds and goals. I left out recruiters, since long term (over 6 months) placement is not easily-incentivized.
                </p>
                <ul>
                    <li>HR</li>
                    <li>Business Manager</li>
                    <li>Technical Manager</li>
                <li>Technical Lead</li>
                <li>Peers</li>
                </ul>
            </md-card-content>
        </md-card>
        <md-card class="" flex>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>
                        <span>How?</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-card-content>
                The list of technologies used to implement this site...
                <ul>
                    <li>Amazon Web Services (EC2)</li>
                    <li>Angular</li>
                    <li>Angular Material</li>
                    <li>Bower</li>
                    <li>D3js</li>
                    <li>Font Awesome</li>
                    <li>Inkscape</li>
                    <li>Karma</li>
                    <li>MongoDB</li>
                    <li>Mongoose</li>
                    <li>Node</li>
                    <li>WebStorm</li>
                </ul>
            </md-card-content>
        </md-card>
    </div>