<div layout="row" layout-sm="column">

<md-card class="" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>Professional Profile</span>
            </h3>
        </div>
    </md-toolbar>
    <md-card-content>
        I'm a consulting software architect with over 15 years of experience successfully delivering applications
    </md-card-content>
</md-card>
    <md-card class="" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Personal Profile</span>
                </h3>
            </div>
        </md-toolbar>
        <md-card-content>
           I love the advantages that come with living in Colorado. Rock climbing, mountain biking, skiing, snowmobiling, and hiking
            are some of my favorite outdoor activities, while a lot of my personal time devoted to hobbies is spent working on electronics
            projects or designing "things" in my home lab.
        </md-card-content>
    </md-card>
    </div>
